In [1]:
import pandas as pd

In [2]:
data = {
    "A": [80, 89, 93, 85, 76],
    "B": [100, 62, 82, 70, 86],
}

df = pd.DataFrame(data)
df

    A    B
0  80  100
1  89   62
2  93   82
3  85   70
4  76   86

In [3]:
df["A"].mean()

84.6

In [4]:
df["B"].mean()

80.0

In [5]:
df.iloc[0]["A"]

80

In [7]:
data = {
    "prices": [240, 250, 150, 240, 300, 5000]
}

df = pd.DataFrame(data)

In [8]:
df

   prices
0     240
1     250
2     150
3     240
4     300
5    5000

In [9]:
df.mean() # 平均

prices    1030.0
dtype: float64

In [10]:
df.median() # 中央値

prices    245.0
dtype: float64

In [11]:
df.mode() # 最頻値

   prices
0     240

In [14]:
# 5000が外れ値なので、除去して平均を取ってみる
dfA = df.iloc[:-1]

In [15]:
dfA

   prices
0     240
1     250
2     150
3     240
4     300

In [18]:
print(f"mean: {dfA.mean()}")
print(f"median: {dfA.median()}")
print(f"mode: {dfA.mode()}")

mean: prices    236.0
dtype: float64
median: prices    240.0
dtype: float64
mode:    prices
0     240

# 度数分布表

In [20]:
data = {
    "A": [1, 10, 1, 10, 1, 10, 1,10],
    "B": [5, 5, 5, 5, 6, 6, 6, 6],
    "C": [1, 2, 3, 4, 7, 8, 9, 10],
}

df = pd.DataFrame(data)
df

    A  B   C
0   1  5   1
1  10  5   2
2   1  5   3
3  10  5   4
4   1  6   7
5  10  6   8
6   1  6   9
7  10  6  10

In [21]:
df.mean()

A    5.5
B    5.5
C    5.5
dtype: float64

In [22]:
df.median()

A    5.5
B    5.5
C    5.5
dtype: float64

In [23]:
df.mode()

      A    B   C
0   1.0  5.0   1
1  10.0  6.0   2
2   NaN  NaN   3
3   NaN  NaN   4
4   NaN  NaN   7
5   NaN  NaN   8
6   NaN  NaN   9
7   NaN  NaN  10

In [25]:
def freq_distribution(col):
    bins = [1,3,5,7,9,11]
    cut = pd.cut(df[col], bins=bins, right=False)
    return cut.value_counts(sort=False)

freq_distribution("A")

[1, 3)     4
[3, 5)     0
[5, 7)     0
[7, 9)     0
[9, 11)    4
Name: A, dtype: int64

In [26]:
freq_distribution("B")

[1, 3)     0
[3, 5)     0
[5, 7)     8
[7, 9)     0
[9, 11)    0
Name: B, dtype: int64

In [27]:
freq_distribution("C")

[1, 3)     2
[3, 5)     2
[5, 7)     0
[7, 9)     2
[9, 11)    2
Name: C, dtype: int64